.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.flex-col {
    flex-direction: column;
}
